.dev-bucket {
    color: white;
    margin: 10px;
    padding: 0 !important;
    display: inline-block;
    margin-top: 3%;
}

.drop-hover {
    background-color: rgba(0, 0, 0, 0.24);
}

.dev-bucket-body {
    padding: 0 !important;
    border: 5px solid rgba(255, 255, 255, 0.616);
    border-radius: 0 0 2vh 2vh;
    border-top: none;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.bucket-content {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.bucket-item {
    margin-top: 2px;
    height: 20%;
    overflow: hidden;
    font-size: 2vh;
    height: 14px;
    line-height: 14px;
}

.bucket-title {
    text-align: center;
}

.ticket-link {
    a {
        font-size: 0.8em;
        color: #664c4c;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: #000;
        text-decoration: none;
    }
}

.ticket-description {
    font-size: 0.8em;
    color: #664c4c;
    padding-left: 4px;
}

.bubble-background {
    background-color: #DFDBE5;
}

.small-bucket-item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
}