.bucket-container{
    background-color: rgba(231, 246, 255, 0.226);
    margin: 5vh;
    position: fixed;
    top: 90px;
    left: 25%;
    bottom: 0;
    width: 75%;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}