.bucket-container {
    margin-left: -15px;
    margin-right: -15px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 90px;
    bottom: 0;
    right: 0;
    width: 75%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .bucket {
        margin: 10px;
        padding: 0 !important;
        display: inline-block;

        .bucket-body {
            padding: 0 !important;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 3px;
            overflow: hidden;
            width: 100%;
            position: relative;

            .bucket-content {
                position: absolute;
                width: 100%;
                bottom: 0;

                .bucket-item {
                    margin: 4px;
                    overflow: hidden;
                    line-height: 14px;
                    padding: 4px;
                    background-color: #fff;
                    border-radius: 3px;
                    border-left: 3px solid;
                    box-shadow: 0 1px 0 #ccc;
                    font-size: 0.8em;
                    cursor: pointer;

                    .ticket-key {
                        font-weight: bold;
                        font-size: 1.14em;
                        height: 14px;
                    }

                    .ticket-points {
                        float: right;
                        color: lightgrey;
                        font-weight: bold;
                    }

                    .ticket-description {
                        color: #664c4c;
                        height: calc(100% - 14px);
                        overflow: visible;
                        word-wrap: break-word;
                        white-space:normal;
                        overflow-wrap: break-word;
                    }

                    .small-bucket-item {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        display: block;
                    }

                    &.status-new {

                    }
                    &.status-indeterminate {
                        
                    }
                    &.status-done {
                        .ticket-key{
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

        .bucket-title {
            text-align: center;
            color: white;
        }

        .drop-hover {
            background-color: rgba(0, 0, 0, 0.24);
        }
    }
}
