@import "variables";

.event-toolbar {
    background-color: $primary;
    color: #f0f0f0;
    padding: 10px;

    .close {
        color: white;
        text-shadow: 0 1px 0 black;

        &:hover, &:active, &:visited, &:focus {
            color: white;
        }
    }

    .event-form {
        .event-form-item {
            display: inline-block;
            color: rgba(255, 255, 255, 0.5);
            background: none;
            padding: 0 5px;
            margin: 0 10px;
            outline: 1px dashed rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 1px $primary;
            border: none;

            &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.1);
            }

            &.action {
                color: $primary;
                outline-style: solid;
                outline-color: #f0f0f0;
                background-color: #f0f0f0;
                animation: none;
            }

            &:disabled {
                opacity: 0.5;
            }

            &.watching-for-input {
                animation: 0.5s border-animation ease infinite;
            }

            &.completed {
                animation: none;
                outline: 1px solid white;
                color: white;
            }
        }

        @keyframes border-animation {
            to {
                outline-color: $primary;
                box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
            }
        }
    }
}
