.sidebar {
    margin-left: -15px;
    margin-right: -15px;
    background: rgba(255, 255, 255, 0.75);
    height: 100vh;
    overflow-y: auto; 

    .nav-pills {
        padding: 10px 0;
    }

    .nav-link {
        cursor: pointer;

        &.active:hover {
            color: white;
        }
    }
}