.team {    
    .member{
        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 4px;
        cursor: pointer;

        .color {
            height: 36px;
            width: 36px;
            margin: 5px;
            font-weight: bold;
            border-radius: 100%;
            border: 3px solid pink;
            img {
                height: 30px;
                width: 30px;
                border-radius: 100%;
            }
        }

        .title {
            font-size: 20px;
        }

        &:hover {
            background-color: #f8f9fa;
        }
    }
}