.team {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 5px;

        h3 {
            font-size: 24px;
            font-weight: 600;
        }
    }
    
    .member{
        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 4px;
        cursor: pointer;

        .color {
            height: 30px;
            width: 30px;
            margin: 5px;
            font-size: 24px;
            font-weight: bold;
            border-radius: 100%;
        }

        .title {
            font-size: 20px;
        }

        &:hover {
            background-color: #f8f9fa;
        }
    }

    .add-member{
        $addMemberGrey: #aaa;
        border: 1px dashed $addMemberGrey;

        .color {
            background: $addMemberGrey;
        }

        .title {
            color: $addMemberGrey;
        }
    }
}